name: build ODBC driver

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: |
        sudo apt install wget flex bison unixodbc unixodbc-dev
        
    - name: install TDengine client
      run: |
        pwd && \
        wget https://www.taosdata.com/assets-download/3.0/TDengine-client-3.0.6.0-Linux-x64.tar.gz && \
        tar zxvf TDengine-client-3.0.6.0-Linux-x64.tar.gz && \
        cd TDengine-client-3.0.6.0 && \
        ./install_client.sh

    - name: compile ODBC driver
      run: |
        pwd && \
        rm -rf debug && \
        cmake -B debug -DCMAKE_BUILD_TYPE=Debug && \
        cmake --build debug --target taos_odbc

    - name: upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: libtaos_odbc.so
        path: debug/src/libtaos_odbc.so
