name: build ODBC driver

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: |
        apt install flex bison unixodbc unixodbc-dev

    - name: compile
      run: |
        rm -rf debug && \
        cmake -B debug -DCMAKE_BUILD_TYPE=Debug && \
        cmake --build debug && \
        cmake --install debug && \
        cmake --build debug --target install_templates && \
        echo -=Done=-
